* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    background-image: url('./components/images/background.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}
